# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
.vscode/

# Build files
/target/
/dist/
/build/
/node_modules/

# raw files for sparse_smoothing env
/data/raw/
/data/processed/

# Log files
*.log

# Other
*.bak
*.swp
*.swo