# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml
.vscode/

# Build files
/target/
/dist/
/build/git rm --cached <file_or_directory>
/node_modules/
/__pycache__/
/model/__pycache__/

# data files
/data/
/graphs/

# model checkpoint
/checkpoints/

# raw files for sparse_smoothing env
/data/raw/
/data/processed/

# Log files
*.log

# Other
*.bak
*.swp
*.swo