aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.2.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.29.2
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.1
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
filelock==3.13.4
fonttools==4.51.0
freetype-py==2.3.0
frozenlist==1.4.1
fsspec==2024.3.1
gitdb==4.0.11
gitignore-parser==0.1.11
gitpython==3.1.43
gmpy2==2.1.5
greenlet==3.0.3
hydra-core==1.3.2
idna==3.7
imageio==2.31.1
importlib-resources==6.4.0
jinja2==3.1.3
joblib==1.4.0
jsonpickle==3.0.4
kiwisolver==1.4.5
lightning-utilities==0.11.2
lit==18.1.4
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.7.1
mdurl==0.1.2
mpmath==1.3.0
multidict==6.0.5
munch==4.0.0
munkres==1.1.4
networkx==2.8.7
numpy==1.23.0
omegaconf==2.3.0
overrides==7.3.1
packaging==24.0
pandas==1.4.0
pathtools==0.1.2
patsy==0.5.6
pillow==10.3.0
pip==24.0
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pycairo==1.26.0
pycparser==2.22
pydantic-core==2.18.2
pydantic==2.7.1
pyemd==1.0.0
pygments==2.17.2
pygobject==3.48.2
pygsp==0.5.1
pymongo==4.7.0
pyparsing==3.1.2
python-dateutil==2.9.0
pytorch-lightning==2.0.4
pytz==2024.1
pyyaml==6.0.1
reportlab==4.1.0
requests==2.31.0
rich==13.7.1
rlpycairo==0.2.0
sacred==0.8.5
scikit-learn==1.4.2
scipy==1.11.0
seml==0.4.6
sentry-sdk==2.0.0
setproctitle==1.3.3
setuptools==69.5.1
shellingham==1.5.4
six==1.16.0
smmap==5.0.1
sparse-smoothing==0.1.0
sqlalchemy==2.0.29
statsmodels==0.14.2
sympy==1.12
threadpoolctl==3.4.0
torch-geometric==2.3.1
torch-scatter==2.1.2+pt20cu118
torch-sparse==0.6.18+pt20cu118
torch==2.0.1+cu118
torchmetrics==0.11.4
torchvision==0.15.0+cu118
tqdm==4.65.0
triton==2.0.0
typer==0.12.3
typing-extensions==4.11.0
tzdata==2024.1
unicodedata2==15.1.0
urllib3==2.2.1
wandb==0.15.4
wheel==0.43.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.17.0
zstandard==0.22.0